.container {
    padding: 20px;
  }
  
  .label {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input, .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .checkboxContainer {
    margin-bottom: 20px;
  }
  
  .checkboxItem {
    margin-bottom: 10px;
  }
  
  .checkboxItem input {
    margin-right: 8px;
  }
  
  .button {
    width: 100%;             
    padding: 10px;           
    background-color: blue;    
    color: white;             
    text-align: center;       
    border: none;              
    border-radius: 5px;        
    font-size: 16px;          
    margin-top: 10px;           
    cursor: pointer;           
  }
  
  .button:hover {
    background-color: darkblue; 
    color: white;
  }
  